<!DOCTYPE html>
<html lang="en">

<head>
<link rel='stylesheet prefetch' href='./static/font.css'>
<link href="./static/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="./static/style.css">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Job Application</title>
 </head>

<body>
<div class="container">
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
			<center>
				<form method="post" onSubmit="return validateForm();" enctype=multipart/form-data>
					<div style="padding-bottom: 18px;font-size : 24px;">Job Application</div>
					<div style="padding-bottom: 3px;font-size : 18px;">Contact Information</div>
					<div style="display: flex; padding-bottom: 18px;width : 450px;">
						<div style=" margin-left : 0; margin-right : 1%; width : 49%;">First name<span style="color: red;"> *</span><br/>
							<input type="text" id="_fname" name="_fname" style="width: 100%;" class="form-control"/>
						</div>
						<div style=" margin-left : 1%; margin-right : 0; width : 49%;">Last name<span style="color: red;"> *</span><br/>
							<input type="text" id="_lname" name="_lname" style="width: 100%;" class="form-control"/>
						</div>
					</div>
					<div style="padding-bottom: 18px;">Email<span style="color: red;"> *</span><br/>
						<input type="text" id="_email" name="_email" style="width : 450px;" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">Country<span style="color: red;"> *</span><br/>
						<select id="_country" name="_country" style="width : 450px;" class="form-control">
							<option>Aland Islands</option>
							<option>Albania</option>
							<option>Algeria</option>
							<option>American Samoa</option>
							<option>Andorra</option>
							<option>Angola</option>
							<option>Anguilla</option>
							<option>Antigua and Barbuda</option>
							<option>Argentina</option>
							<option>Armenia</option>
							<option>Aruba</option>
							<option>Australia</option>
							<option>Austria</option>
							<option>Azerbaijan</option>
							<option>Bangladesh</option>
							<option>Barbados</option>
							<option>Bahamas</option>
							<option>Bahrain</option>
							<option>Belarus</option>
							<option>Belgium</option>
							<option>Belize</option>
							<option>Benin</option>
							<option>Bermuda</option>
							<option>Bhutan</option>
							<option>Bolivia</option>
							<option>Bosnia and Herzegovina</option>
							<option>Botswana</option>
							<option>Brazil</option>
							<option>British Indian Ocean Territory</option>
							<option>British Virgin Islands</option>
							<option>Brunei Darussalam</option>
							<option>Bulgaria</option>
							<option>Burkina Faso</option>
							<option>Burma</option>
							<option>Burundi</option>
							<option>Cambodia</option>
							<option>Cameroon</option>
							<option>Canada</option>
							<option>Cape Verde</option>
							<option>Cayman Islands</option>
							<option>Central African Republic</option>
							<option>Chad</option>
							<option>Chile</option>
							<option>China</option>
							<option>Christmas Island</option>
							<option>Cocos (Keeling) Islands</option>
							<option>Colombia</option>
							<option>Comoros</option>
							<option>Congo-Brazzaville</option>
							<option>Congo-Kinshasa</option>
							<option>Cook Islands</option>
							<option>Costa Rica</option>
							<option>Croatia</option>
							<option>Curaçao</option>
							<option>Cyprus</option>
							<option>Czech Republic</option>
							<option>Denmark</option>
							<option>Djibouti</option>
							<option>Dominica</option>
							<option>Dominican Republic</option>
							<option>East Timor</option>
							<option>Ecuador</option>
							<option>El Salvador</option>
							<option selected="selected">Egypt</option>
							<option>Equatorial Guinea</option>
							<option>Eritrea</option>
							<option>Estonia</option>
							<option>Ethiopia</option>
							<option>Falkland Islands</option>
							<option>Faroe Islands</option>
							<option>Federated States of Micronesia</option>
							<option>Fiji</option>
							<option>Finland</option>
							<option>France</option>
							<option>French Guiana</option>
							<option>French Polynesia</option>
							<option>French Southern Lands</option>
							<option>Gabon</option>
							<option>Gambia</option>
							<option>Georgia</option>
							<option>Germany</option>
							<option>Ghana</option>
							<option>Gibraltar</option>
							<option>Greece</option>
							<option>Greenland</option>
							<option>Grenada</option>
							<option>Guadeloupe</option>
							<option>Guam</option>
							<option>Guatemala</option>
							<option>Guernsey</option>
							<option>Guinea</option>
							<option>Guinea-Bissau</option>
							<option>Guyana</option>
							<option>Haiti</option>
							<option>Heard and McDonald Islands</option>
							<option>Honduras</option>
							<option>Hong Kong</option>
							<option>Hungary</option>
							<option>Iceland</option>
							<option>India</option>
							<option>Indonesia</option>
							<option>Iraq</option>
							<option>Ireland</option>
							<option>Isle of Man</option>
							<option>Israel</option>
							<option>Italy</option>
							<option>Jamaica</option>
							<option>Japan</option>
							<option>Jersey</option>
							<option>Jordan</option>
							<option>Kazakhstan</option>
							<option>Kenya</option>
							<option>Kiribati</option>
							<option>Kuwait</option>
							<option>Kyrgyzstan</option>
							<option>Laos</option>
							<option>Latvia</option>
							<option>Lebanon</option>
							<option>Lesotho</option>
							<option>Liberia</option>
							<option>Libya</option>
							<option>Liechtenstein</option>
							<option>Lithuania</option>
							<option>Luxembourg</option>
							<option>Macau</option>
							<option>Macedonia</option>
							<option>Madagascar</option>
							<option>Malawi</option>
							<option>Malaysia</option>
							<option>Maldives</option>
							<option>Mali</option>
							<option>Malta</option>
							<option>Marshall Islands</option>
							<option>Martinique</option>
							<option>Mauritania</option>
							<option>Mauritius</option>
							<option>Mayotte</option>
							<option>Mexico</option>
							<option>Moldova</option>
							<option>Monaco</option>
							<option>Mongolia</option>
							<option>Montenegro</option>
							<option>Montserrat</option>
							<option>Morocco</option>
							<option>Mozambique</option>
							<option>Namibia</option>
							<option>Nauru</option>
							<option>Nepal</option>
							<option>Netherlands</option>
							<option>New Caledonia</option>
							<option>New Zealand</option>
							<option>Nicaragua</option>
							<option>Niger</option>
							<option>Nigeria</option>
							<option>Niue</option>
							<option>Norfolk Island</option>
							<option>Northern Mariana Islands</option>
							<option>Norway</option>
							<option>Oman</option>
							<option>Pakistan</option>
							<option>Palau</option>
							<option>Panama</option>
							<option>Papua New Guinea</option>
							<option>Paraguay</option>
							<option>Peru</option>
							<option>Philippines</option>
							<option>Pitcairn Islands</option>
							<option>Poland</option>
							<option>Portugal</option>
							<option>Puerto Rico</option>
							<option>Qatar</option>
							<option>Réunion</option>
							<option>Romania</option>
							<option>Russia</option>
							<option>Rwanda</option>
							<option>Saint Barthélemy</option>
							<option>Saint Helena</option>
							<option>Saint Kitts and Nevis</option>
							<option>Saint Lucia</option>
							<option>Saint Martin</option>
							<option>Saint Pierre and Miquelon</option>
							<option>Saint Vincent</option>
							<option>Samoa</option>
							<option>San Marino</option>
							<option>São Tomé and Príncipe</option>
							<option>Saudi Arabia</option>
							<option>Senegal</option>
							<option>Serbia</option>
							<option>Seychelles</option>
							<option>Sierra Leone</option>
							<option>Singapore</option>
							<option>Sint Maarten</option>
							<option>Slovakia</option>
							<option>Slovenia</option>
							<option>Solomon Islands</option>
							<option>Somalia</option>
							<option>South Africa</option>
							<option>South Georgia</option>
							<option>South Korea</option>
							<option>Spain</option>
							<option>Sri Lanka</option>
							<option>Sudan</option>
							<option>Suriname</option>
							<option>Svalbard and Jan Mayen</option>
							<option>Sweden</option>
							<option>Swaziland</option>
							<option>Switzerland</option>
							<option>Syria</option>
							<option>Taiwan</option>
							<option>Tajikistan</option>
							<option>Tanzania</option>
							<option>Thailand</option>
							<option>Togo</option>
							<option>Tokelau</option>
							<option>Tonga</option>
							<option>Trinidad and Tobago</option>
							<option>Tunisia</option>
							<option>Turkey</option>
							<option>Turkmenistan</option>
							<option>Turks and Caicos Islands</option>
							<option>Tuvalu</option>
							<option>Uganda</option>
							<option>Ukraine</option>
							<option>United Arab Emirates</option>
							<option>United Kingdom</option>
							<option>United States</option>
							<option>Uruguay</option>
							<option>Uzbekistan</option>
							<option>Vanuatu</option>
							<option>Vatican City</option>
							<option>Vietnam</option>
							<option>Venezuela</option>
							<option>Wallis and Futuna</option>
							<option>Western Sahara</option>
							<option>Yemen</option>
							<option>Zambia</option>
							<option>Zimbabwe</option>
							</select>
					</div>
					<div style="padding-bottom: 18px;">Phone<span style="color: red;"> *</span><br/>
					<input type="text" id="_phone" name="_phone" style="width : 450px;" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">Birthdate<span style="color: red;"> *</span><br/>
						<input type="text" id="_birthdate" name="_birthdate" style="width : 450px;" class="form-control"/>
					</div>
					
					<script src="./static/pikaday.min.js" type="text/javascript"></script>
					<link href="./static/pikaday.min.css" rel="stylesheet" type="text/css" />
					<script type="text/javascript">new Pikaday({ field: document.getElementById('_birthdate') });</script>
					
					<div style="padding-bottom: 18px;">CV upload<span style="color: red;"> *</span><br/>
						<input id="_cv" name="_cv" style="width : 450px;" type="file" accept=".PDF, .DOC, .DOCX" class="form-control"/>
					</div>
					<div style="padding-bottom: 18px;">
						<input name="submit" class="btn btn-lg btn-success" value="Send Application" type="submit"/>
					</div>

				</form>

				<script type="text/javascript">
					function validateForm() {
						if (isEmpty(document.getElementById('_fname').value.trim())) {
						alert('First name is required!');
						return false;
						}
						if (isEmpty(document.getElementById('_lname').value.trim())) {
						alert('Last name is required!');
						return false;
						}
						if (isEmpty(document.getElementById('_email').value.trim())) {
						alert('Email is required!');
						return false;
						}
						if (!validateEmail(document.getElementById('_email').value.trim())) {
						alert('Email must be a valid email address!');
						return false;
						}
						if (isEmpty(document.getElementById('_phone').value.trim())) {
						alert('Phone is required!');
						return false;
						}
						if (isEmpty(document.getElementById('_birthdate').value.trim())) {
						alert('Birthdate is required!');
						return false;
						}
						if (document.getElementById('_cv').files.length == 0) {
						alert('CV upload is required!');
						return false;}
						return true;
					}
					function isEmpty(str) { return (str.length === 0 || !str.trim()); }
					function validateEmail(email) {
					var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
					return isEmpty(email) || re.test(email);
					}
				</script>
			</center>
        </div>
    </div>
</div>
</body>
</html>